.content {
    line-height: 1;
}

.error {
    margin: 15px;
}

.hand {
    display: inline-block;
    margin: 15px;
}

.cards {
    text-align: center;
}

.top .cards {
  font-size: 100px;
  color: blue;
}

.middle .cards {
    font-size: 125px;
}

.middle .community_cards {
    display: inline-block;
}

.pot {
    margin: 20px;
}

.bottom .cards {
    font-size: 150px;
}

.chipcounter {
    float: right;
}

.card {
    display: inline-block;
}
