{% extends "layout.html" %}
{% block body %}
{% import "poker.html" as poker %}
<div class="container-fluid content">
    <div class="top">
        {% for player in game.not_me(player_idx) %}
        {{ poker.player(player, True)}}
        {% endfor %}
    </div>
    <div class="middle">
        <div class="community_cards well">
            <div class="flop hand">
                Flop
                <div class="cards">
                {% for c in game.flop -%}
                {{ c.html|safe }}
                {%- endfor %}
                </div>
            </div>
            <div class="turn hand">
                Turn
                <div class="cards">
                    {{ game.turn.html|safe }}
                </div>
            </div>
            <div class="river hand">
                River
                <div class="cards">
                    {{ game.river.html|safe }}
                </div>
            </div>
        </div>
        <!--
        <div class="pot hand">
            Pot<br>
            <div class="cards">{{ game.pot }}</div>
        </div>
        <div class="current-bet hand">
            Current Bet<br>
            <div class="cards">{{ game.current_bet }}</div>
        </div>
        -->
    </div>
    <div class="bottom">
        {{ poker.player(game.player_list[player_idx], True) }}
    </div>
    <div class="betting-buttons">
        <form name="betting-buttons">
            Amount: <input type="text" name="raisetextbox" value="">
            <input type="button" name="raisebtn" value="Raise" onClick="raise(this.form)">
            <input type="button" name="callbtn" value="Call" onClick="call(this.form)">
            <input type="button" name="foldbtn" value="Fold" onClick="fold(this.form)">
        </form>
    </div>
</div>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    $('.betting-buttons').hide();
    $('.card-hide').hide();

    socket.on('bet', function(json){
        if (json.player_idx == {{ player_idx }} ){
            $('.betting-buttons').show();
        }
    });

    socket.on('reveal stage', function(json){
        console.log("reveal");
    });

    var players_loaded = {{player_idx}} + 1;
    if ({{player_idx}} == 0){
        console.log('player_idx 0 detetcted');
        socket.on('player loaded', function(){
            console.log("player loaded");
            if (players_loaded == {{ game.players }}){
                console.log("all players loaded");
                socket.emit('all players loaded');
            }
        });

        socket.on('done stage betting', function(){
            socket.emit('advance stage');
        });
    }

    socket.on('round done', function(){
        $(".back").hide();
        $(".front").show();
    });



    function raise(form){
        socket.emit('done betting', {"player_idx": {{ player_idx }}, "response": ("r" + toString(form.raisetextbox.value)) });
        $('.betting-buttons').hide();
    }

    function call(form){
        socket.emit('done betting', {"player_idx": {{ player_idx }}, "response": "c0" });
        $('.betting-buttons').hide();
    }

    function fold(form){
        socket.emit('done betting', {"player_idx": {{ player_idx }}, "response": "f0" });
        $('.betting-buttons').hide();
    }
</script>

{% endblock %}
