{% macro player(player, show=True) -%}
<div class="hand well">
    {{ player.username }}
    <!-- <span class="chipcounter">Chips: {{ player.chips }}</span> -->
    <br/>
    <div class="cards">
        {% for card in player.hand -%}
            {{ render_card(card) }}
        {%- endfor %}
    </div>
</div>
{%- endmacro %}

{% macro render_card(card, show=True) -%}
<div class="back {% if show -%}card-hide{%- endif %}">
    <span class="blue">&#127136;</span>
</div>
<div class="front card {% if not show -%}card-hide{%- endif %}">
    {{ card.html|safe }}
</div>
{%- endmacro %}
