{% extends "layout.html" %}
{% block body %}
<script>
    console.log("JS Started");
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    var player_counter = {{ player_idx }}; // really a top index counter
    if (player_counter == 0){
        console.log("player_idx 0 detected");
        socket.on('player joined', function(){
            player_counter++;
            console.log("player joined");
            if ((player_counter) == {{ required_players }} - 1){ // minus one is to account for off by one
                console.log("enough players");
                setTimeout(function(){
                    socket.emit('enough players');
                }, 1000);
            }
        });
    }

    socket.on('players created', function(){
        window.location.href = "http://" + document.domain + ":" + location.port + "{{ redirect_url }}";
    });

    socket.on('sock test', function(){
        console.log("Message Recived");
    });
</script>

<div class='content container-fluid'>
    Waiting...
</div>
{% endblock %}
